@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background: #171a20;
    padding: 0 37px;
    min-height: 100vh;
}

.navlist , .nav-container , .nav-container .navlist ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlist{
    color: #fff;
}

.navlist h1 {
    font-size: 2em;
    font-weight: 700;
    cursor: default;
}

.navlist ul {
    font-size: 1.3em;
    font-weight: 500;
}

.navlist ul li {
    transition: all 0.4s ease;
}

.navlist {
    width: 50%;
    gap: 78px;
}

.navlist ul {
    width: 100%;
    gap: 40px;
}

.navbar{
    padding: 7px 30px;
    margin-top: 24px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #ffffff0f;
}

.githubButton {
    color: rgb(211, 211, 211);
    font-size: 1.3em ;
    font-weight: 400;
    background: #242424;
    padding: 4px 40px;
    border-radius: 7px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.githubButton:hover{
    background-color: #393939;
}

.navlist ul li:hover{
    color: #4a32ff;
    scale:calc(1.1);
}


.header-content{
    margin-top: 40px;
    width: 800px;
    height: 100%;
    color: #fff;
}

.header-content p{
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 24px;
    line-height: 2.1em;
}

.header-content h1 {
    color: white;
    font-size: 3.3em;
    font-weight: 600;
}

.about h2{
    margin-bottom: 30px;
    font-size: 2.7em;
}